// Color
$color-primary: #6e45e2;
$color-primary-dark: #4f4f6f;
$color-primary-light: #756edc;

$color-grey: #b4b4bb;
$color-grey-dark: #858692;
$color-grey-light: #c2c9db;

$color-white: #fff;
$color-white-dark: #f2f2f3;
$color-white-light: #fafbfc;

$color-darkblue: #2c2a54;
$color-lightblue: #f2f9ff;
$color-greyblue: #f9fafc;

$color-dark: #37374a;
$color-black: #000;


// Gradient
$color-start: #7155e0;
$color-end: #85c3d0;

// Font-color
$font-color-primary: #9fa4af;
$font-color-light: #e2daf9;

// User-color
$user-color-blue: #68cef0;

// Border-color
$border-color: #e3e6ee;

// Font-family
$font-primary: 'Maven', sans-serif;
$font-secondary: 'Playfair display', serif;

// Font-awesome
$fa-font-path: '../fonts/webfonts';