<nav class="topbar">
    <input type="checkbox" class="topbar__checkbox"></input>
    <div class="topbar__icon">
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
    </div>
    <div class="topbar__logo">
        <div class="logo"></div>
        <h1 class="heading-primary">MISOCIAL</h1>
    </div>
    <div class="topbar__nav">
        <ul class="nav">
            <li class="nav__item"><a href="#">Home</a></li>
            <li class="nav__item"><a href="#">Why <span class="uppercase">misocial</span></a></li>
            <li class="nav__item"><a href="#">Features</a></li>
            <li class="nav__item"><a href="#">Articles</a></li>
            <li class="nav__item"><a href="#">Pricing</a></li>
        </ul>
        <div class="topbar__get-started">
            <button class="btn btn--small btn--transparent">Get started</button>
        </div>
    </div>
</nav>

<header class="header">
    <div class="banner section">
        <div class="section__content">
            <h2 class="heading-secondary">
                <div class="heading-secondary__title">
                    Social marketing & analytics
                </div>
                <div class="heading-secondary__content">
                    Take control of <br> your data
                </div>
            </h2>

            <p class="paragraph paragraph--white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            </p>

            <div class="btn-group">
                <button class="btn">Get started</button>
                <button class="btn">Explore features</button>
            </div>

        </div>
        <div class="section__img">
            <img src="img/banner-img.png" class="img"></img>
        </div>
        <button class="circular"><a href="#"><i class="fal fa-long-arrow-down"></i></a></button>
    </div>
</header>

<main class="main">
    <section class="choose-us section">
        <div class="section__img">
            <img src="img/choose-us.png" class="img"></img>
        </div>
        <div class="section__content">
            <h2 class="heading-secondary heading-secondary--dark">
                <div class="heading-secondary__title">
                    Why choose us
                </div>
                <div class="heading-secondary__content">
                    All your data collected in one place
                </div>
            </h2>
    
            <p class="paragraph">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            </p>
    
            <p class="paragraph">
                Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            
            <div class="btn-group">
                <button class="btn">Core features</button>
            </div>
    
        </div>
        <button class="circular"><a href="#"><i class="fal fa-long-arrow-down"></i></a></button>
    </section>

    <section class="features section">
        <div class="section__content">
            <h2 class="heading-secondary heading-secondary--center">
                <div class="heading-secondary__title">
                    Core features
                </div>
                <div class="heading-secondary__content">
                    Powerful features
                </div>
            </h2>
    
            <p class="paragraph paragraph--center paragraph--white">
                Built for your projects, your workflows, your goals, your team.
            </p>
    
            <div class="feature-wrap">
                <div class="feature">
                    <div class="feature__icon-box">
                        <div class="feature__icon"></div>
                    </div>
                    <div class="feature__content-box">
                        <div class="feature__title">Analytics</div>
                        <div class="feature__content">Easily create tasks for yourself or assign one to a teammate.</div>
                    </div>
                </div>
    
                <div class="feature">
                    <div class="feature__icon-box">
                        <div class="feature__icon"></div>
                    </div>
                    <div class="feature__content-box">
                        <div class="feature__title">Project templates</div>
                        <div class="feature__content">Easily create tasks for yourself or assign one to a teammate.</div>
                    </div>
                </div>
    
                <div class="feature">
                    <div class="feature__icon-box">
                        <div class="feature__icon"></div>
                    </div>
                    <div class="feature__content-box">
                        <div class="feature__title">Task Conversations</div>
                        <div class="feature__content">Easily create tasks for yourself or assign one to a teammate.</div>
                    </div>
                </div>
    
                <div class="feature">
                    <div class="feature__icon-box">
                        <div class="feature__icon"></div>
                    </div>
                    <div class="feature__content-box">
                        <div class="feature__title">Multiple accounts</div>
                        <div class="feature__content">Easily create tasks for yourself or assign one to a teammate.</div>
                    </div>
                </div>
    
                <div class="feature">
                    <div class="feature__icon-box">
                        <div class="feature__icon"></div>
                    </div>
                    <div class="feature__content-box">
                        <div class="feature__title">Projects</div>
                        <div class="feature__content">Easily create tasks for yourself or assign one to a teammate.</div>
                    </div>
                </div>
    
                <div class="feature">
                    <div class="feature__icon-box">
                        <div class="feature__icon"></div>
                    </div>
                    <div class="feature__content-box">
                        <div class="feature__title">Subtasks</div>
                        <div class="feature__content">Easily create tasks for yourself or assign one to a teammate.</div>
                    </div>
                </div>
    
                <div class="feature">
                    <div class="feature__icon-box">
                        <div class="feature__icon"></div>
                    </div>
                    <div class="feature__content-box">
                        <div class="feature__title">Conversion goals</div>
                        <div class="feature__content">Easily create tasks for yourself or assign one to a teammate.</div>
                    </div>
                </div>
    
                <div class="feature">
                    <div class="feature__icon-box">
                        <div class="feature__icon"></div>
                    </div>
                    <div class="feature__content-box">
                        <div class="feature__title">Collaboration</div>
                        <div class="feature__content">Easily create tasks for yourself or assign one to a teammate.</div>
                    </div>
                </div>
    
                <div class="feature">
                    <div class="feature__icon-box">
                        <div class="feature__icon"></div>
                    </div>
                    <div class="feature__content-box">
                        <div class="feature__title">Sections & Columns</div>
                        <div class="feature__content">Easily create tasks for yourself or assign one to a teammate.</div>
                    </div>
                </div>
    
                <div class="feature">
                    <div class="feature__icon-box">
                        <div class="feature__icon"></div>
                    </div>
                    <div class="feature__content-box">
                        <div class="feature__title">Attachments</div>
                        <div class="feature__content">Easily create tasks for yourself or assign one to a teammate.</div>
                    </div>
                </div>
    
                <div class="feature">
                    <div class="feature__icon-box">
                        <div class="feature__icon"></div>
                    </div>
                    <div class="feature__content-box">
                        <div class="feature__title">Segments</div>
                        <div class="feature__content">Easily create tasks for yourself or assign one to a teammate.</div>
                    </div>
                </div>
    
                <div class="feature">
                    <div class="feature__icon-box">
                        <div class="feature__icon"></div>
                    </div>
                    <div class="feature__content-box">
                        <div class="feature__title">Integrations</div>
                        <div class="feature__content">Easily create tasks for yourself or assign one to a teammate.</div>
                    </div>
                </div>
            </div>
    
            <div class="slideshow">
                <div class="slideshow__prev">
                    <div class="circular circular--small"></div>
                </div>
                <div class="slideshow__item">
                    <div class="slide">
                        <div class="slide__content">
                        </div>
                        <div class="slide__img"></div>
                    </div>
                </div>
                <div class="slideshow__next">
                    <div class="circular circular--small"></div>
                </div>
            </div>
        </div>
        <button class="circular"><a href="#"><i class="fal fa-long-arrow-down"></i></a></button>
    </section>

    <section class="testimonial section">
        <div class="section__content">
            <h2 class="heading-secondary heading-secondary--dark">
                <div class="heading-secondary__title">
                    Testimonials
                </div>
                <div class="heading-secondary__content">
                    Don't take our word for it
                </div>
            </h2>

            <div class="carousel">
                <div class="carousel__content">
                    <div class="owl-carousel owl-theme">
                        <div class="user">
                            <div class="user__quote">
                                <i class="far fa-angle-double-left"></i>
                                If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.
                                <i class="far fa-angle-double-right"></i>
                            </div>
                            
                            <div class="user__info">
                                <span class="user__icon">
                                    <span class="icon"></span>
                                </span>
                                <span class="user__name">
                                    <span class="uppercase bold">
                                        sam isbister
                                    </span>
                                    <br>
                                    Mass Impressions
                                </span>
                            </div>
                        </div>
                        <div class="user">
                            <div class="user__quote">
                                <i class="far fa-angle-double-left"></i>
                                If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.
                                <i class="far fa-angle-double-right"></i>
                            </div>
                            
                            <div class="user__info">
                                <span class="user__icon">
                                    <span class="icon"></span>
                                </span>
                                <span class="user__name">
                                    <span class="uppercase bold">
                                        sam isbister
                                    </span>
                                    <br>
                                    Mass Impressions
                                </span>
                            </div>
                        </div>
                        <div class="user">
                            <div class="user__quote">
                                <i class="far fa-angle-double-left"></i>
                                If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.
                                <i class="far fa-angle-double-right"></i>
                            </div>
                            
                            <div class="user__info">
                                <span class="user__icon">
                                    <span class="icon"></span>
                                </span>
                                <span class="user__name">
                                    <span class="uppercase bold">
                                        sam isbister
                                    </span>
                                    <br>
                                    Mass Impressions
                                </span>
                            </div>
                        </div>
                        <div class="user">
                            <div class="user__quote">
                                <i class="far fa-angle-double-left"></i>
                                If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.
                                <i class="far fa-angle-double-right"></i>
                            </div>
                            
                            <div class="user__info">
                                <span class="user__icon">
                                    <span class="icon"></span>
                                </span>
                                <span class="user__name">
                                    <span class="uppercase bold">
                                        sam isbister
                                    </span>
                                    <br>
                                    Mass Impressions
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section__img">
            <div class="video">
                <video src="" class="video__content">

                </video>
                <div class="video__playpause">&nbsp;</div>
            </div>
        </div>
        <button class="circular"><a href="#"><i class="fal fa-long-arrow-down"></i></a></button>
    </section>

    <section class="about section">
        <div class="section__img">
                <img src="img/computer.png" class="img"></img>
        </div>
        <div class="section__content">
            <h2 class="heading-secondary heading-secondary--dark">
                <div class="heading-secondary__title">
                    About <span class="uppercase">misocial</span>
                </div>
                <div class="heading-secondary__content">
                    Who we are?
                </div>
            </h2>
    
            <p class="paragraph">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            </p>

            <p class="paragraph">
                Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>

            <p class="paragraph">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
            </p>
            <button class="circular"><a href="#"><i class="fal fa-long-arrow-down"></i></a></button>
        </div>
    </section>

    <section class="our-team section">
        <div class="section__content">
            <h2 class="heading-secondary heading-secondary--dark heading-secondary--center">
                <div class="heading-secondary__title">
                    Our team
                </div>
                <div class="heading-secondary__content">
                    Meet the team
                </div>
            </h2>
    
            <p class="paragraph paragraph--center">
                Lorem ipsum dolor sit amet, consectetur adipisicing
                <br>
                elit, sed do eiusmod tempor incididunt ut.
            </p>

            <div class="member-wrap">
                <div class="member">
                    <div class="member__img">
                        <img src="img/member-1.png" alt="" class="img">
                    </div>
                    <div class="member__info">
                        <div class="uppercase bold">Harry Willilamson</div>
                        <div class="small">Art Director</div>
                    </div>
                </div>

                <div class="member">
                    <div class="member__img">
                        <img src="img/member-2.png" alt="" class="img">
                    </div>
                    <div class="member__info">
                        <div class="uppercase bold">Lori Fisher</div>
                        <div class="small">Art Director</div>
                    </div>
                </div>

                <div class="member">
                    <div class="member__img">
                        <img src="img/member-3.png" alt="" class="img">
                    </div>
                    <div class="member__info">
                        <div class="uppercase bold">Jesse Robertson</div>
                        <div class="small">Art Director</div>                        
                    </div>
                </div>

                <div class="member">
                    <div class="member__img">
                        <img src="img/member-4.png" alt="" class="img">
                    </div>
                    <div class="member__info">
                        <div class="uppercase bold">Edward Riley</div>
                        <div class="small">Art Director</div>
                    </div>
                </div>

                <div class="member">
                    <div class="member__img">
                        <img src="img/member-5.png" alt="" class="img">
                    </div>
                    <div class="member__info">
                        <div class="uppercase bold">Olivia Rogers</div>
                        <div class="small">Art Director</div>                        
                    </div>
                </div>

                <div class="member">
                    <div class="member__img">
                        <img src="img/member-6.png" alt="" class="img">
                    </div>
                    <div class="member__info">
                        <div class="uppercase bold">Patrick Fox</div>
                        <div class="small">Art Director</div>
                    </div>
                </div>

                <div class="member">
                    <div class="member__img">
                        <img src="img/member-7.png" alt="" class="img">
                    </div>
                    <div class="member__info">
                        <div class="uppercase bold">Andrew Garrett</div>
                        <div class="small">Art Director</div>                        
                    </div>
                </div>

                <div class="member">
                    <div class="member__img">
                        <img src="img/member-8.png" alt="" class="img">
                    </div>
                    <div class="member__info">
                        <div class="uppercase bold">Susan Alvarez</div>
                        <div class="small">Art Director</div>
                    </div>
                </div>
            </div>

        </div>
        <button class="circular"><a href="#"><i class="fal fa-long-arrow-down"></i></a></button>        
    </section>

    <section class="blog section">
        <div class="section__content">
            <h2 class="heading-secondary heading-secondary--dark">
                <div class="heading-secondary__title">
                    What's new?
                </div>
                <div class="heading-secondary__content">
                    Recent articles
                </div>
            </h2>
    
            <p class="paragraph">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            </p>

            <div class="btn-group">
                <button class="btn">Read all articles</button>
            </div>
        
            <div class="carousel">
                <div class="carousel__content">
                    <div class="post">
                        <div class="post__img">
                            <img src="img/article-img.png" alt="" class="img">
                        </div>
                        <div class="post__content">
                            <div class="post__title">
                                <h3 class="heading-tertiary">
                                    Data is all about the details
                                </h3>
                                <div class="small">on Mar 21, 2017 9:58 AM</div>
                            </div>
                            <div class="post__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</div>
                            <div class="post__comment">
                                <span class="icon icon--comment"></span>
                                24 comments
                            </div>
                            <div class="post__icon">
                                <span class="icon icon--square"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel__pagination">
                    <span>&nbsp;</span>
                    <span class="active">&nbsp;</span>
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                </div>
            </div>
        </div>
    </section>

    <section class="cta section">
        <div class="section__content">
            <h2 class="heading-secondary heading-secondary--center">
                <div class="heading-secondary__title">
                    Social marketing & analytics
                </div>
                <div class="heading-secondary__content">
                    Take control of your data
                </div>
            </h2>

            <div class="btn-group">
                <button class="btn">Get started</button>
                <button class="btn">Explore features</button>
            </div>
        </div>
        <div class="section__img">
            <img src="img/cta-img.png" class="img"></img>
        </div>
    </section>

</main>

<footer class="footer">
    <nav class="navbar">
        <div class="navbar__logo">
            <h1 class="heading-primary">
                <span class="logo"></span>
                MISOCIAL
            </h1>
        </div>
        <div class="navbar__nav">
            <ul class="navbar__list">
                <li class="navbar__item">Home</li>
                <li class="navbar__item">Why misocial</li>
                <li class="navbar__item">Features</li>
                <li class="navbar__item">Articles</li>
                <li class="navbar__item">Pricing</li>
            </ul>
        </div>
        <div class="navbar__get-started">Get started</div>
    </nav>

    <div class="copyright">
        <div class="copyright__content">
            © 2017 Mass Impressions & Tranmautritam. Make the right impression.
        </div>
        <div class="copyright__icon">

        </div>
    </div>
</footer>