<header class="header">
    <nav class="navbar">
        <div class="navbar__logo">
            <h1 class="heading-primary">
                <span class="logo"></span>
                MISOCIAL
            </h1>
        </div>
        <div class="navbar__nav">
            <ul class="navbar__list">
                <li class="navbar__item">Home</li>
                <li class="navbar__item">Why misocial</li>
                <li class="navbar__item">Features</li>
                <li class="navbar__item">Articles</li>
                <li class="navbar__item">Pricing</li>
            </ul>
        </div>
        <div class="navbar__get-started">Get started</div>
    </nav>

    <div class="banner">
        <div class="container">
            <div class="img"></div>
            <div class="container">
                <h2 class="heading-secondary">
                    <span class="heading-secondary__title">
                        Social marketing & analytics
                    </span>
                    <span class="heading-secondary__content">
                        Take control of your data
                    </span>
                </h2>

                <p class="paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                </p>

                <button class="btn">Get started</button>
                <button class="btn">Explore features</button>

            </div>
            <button class="btn--next">&nbsp;</button>
        </div>
    </div>
</header>

<main class="main">

    <section class="choose-us">
        <div class="container">
            <div class="img"></div>
            <div class="container">
                <h2 class="heading-secondary">
                    <span class="heading-secondary__title">
                        Why choose us
                    </span>
                    <span class="heading-secondary__content">
                        All your data collected in one place
                    </span>
                </h2>
        
                <p class="paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                </p>
        
                <p class="paragraph">
                    Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
        
                <button class="btn">Core features</button>
        
            </div>
            <button class="btn--next">&nbsp;</button>
        </div>
    </section>

    <section class="features">
        <div class="container">
            <div class="container">
                <h2 class="heading-secondary">
                    <span class="heading-secondary__title">
                        Core features
                    </span>
                    <span class="heading-secondary__content">
                        Powerful features
                    </span>
                </h2>
        
                <p class="paragraph">
                    Built for your projects, your workflows, your goals, your team.
                </p>
            </div>
    
            <div class="container">
                <div class="feature-box">
                    <div class="feature-box__icon"></div>
                    <div class="feature-box__title">Analytics</div>
                    <div class="feature-box__content">Easily create tasks for yourself or assign one to a teammate.</div>
                </div>
    
                <div class="feature-box">
                    <div class="feature-box__icon"></div>
                    <div class="feature-box__title">Project templates</div>
                    <div class="feature-box__content">Easily create tasks for yourself or assign one to a teammate.</div>
                </div>
    
                <div class="feature-box">
                    <div class="feature-box__icon"></div>
                    <div class="feature-box__title">Task Conversations</div>
                    <div class="feature-box__content">Easily create tasks for yourself or assign one to a teammate.</div>
                </div>
    
                <div class="feature-box">
                    <div class="feature-box__icon"></div>
                    <div class="feature-box__title">Multiple accounts</div>
                    <div class="feature-box__content">Easily create tasks for yourself or assign one to a teammate.</div>
                </div>
    
                <div class="feature-box">
                    <div class="feature-box__icon"></div>
                    <div class="feature-box__title">Projects</div>
                    <div class="feature-box__content">Easily create tasks for yourself or assign one to a teammate.</div>
                </div>
    
                <div class="feature-box">
                    <div class="feature-box__icon"></div>
                    <div class="feature-box__title">Subtasks</div>
                    <div class="feature-box__content">Easily create tasks for yourself or assign one to a teammate.</div>
                </div>
    
                <div class="feature-box">
                    <div class="feature-box__icon"></div>
                    <div class="feature-box__title">Conversion goals</div>
                    <div class="feature-box__content">Easily create tasks for yourself or assign one to a teammate.</div>
                </div>
    
                <div class="feature-box">
                    <div class="feature-box__icon"></div>
                    <div class="feature-box__title">Collaboration</div>
                    <div class="feature-box__content">Easily create tasks for yourself or assign one to a teammate.</div>
                </div>
    
                <div class="feature-box">
                    <div class="feature-box__icon"></div>
                    <div class="feature-box__title">Sections & Columns</div>
                    <div class="feature-box__content">Easily create tasks for yourself or assign one to a teammate.</div>
                </div>
    
                <div class="feature-box">
                    <div class="feature-box__icon"></div>
                    <div class="feature-box__title">Attachments</div>
                    <div class="feature-box__content">Easily create tasks for yourself or assign one to a teammate.</div>
                </div>
    
                <div class="feature-box">
                    <div class="feature-box__icon"></div>
                    <div class="feature-box__title">Segments</div>
                    <div class="feature-box__content">Easily create tasks for yourself or assign one to a teammate.</div>
                </div>
    
                <div class="feature-box">
                    <div class="feature-box__icon"></div>
                    <div class="feature-box__title">Integrations</div>
                    <div class="feature-box__content">Easily create tasks for yourself or assign one to a teammate.</div>
                </div>
            </div>
    
            <div class="container">
                <div class="slideshow">
                    <div class="slideshow__prev"></div>
                    <div class="slideshow__container">
                        <div class="slide">
                            <div class="slide__content">
                                <div class="slide__chart"></div>
                                <div class="slide__review">
                                    
                                </div>
                                <div class="slide__shares"></div>
                            </div>
                            <div class="slide__img"></div>
                        </div>
                    </div>
                    <div class="slideshow__next"></div>
                </div>
            </div>
            <button class="btn--next">&nbsp;</button>
        </div>
    </section>

    <section class="testimonial">
        <div class="container">
            <div class="container">
                <h2 class="heading-secondary">
                    <span class="heading-secondary__title">
                        Testimonials
                    </span>
                    <span class="heading-secondary__content">
                        Don't take our word for it
                    </span>
                </h2>
                
                <div class="carousel">
                    <div class="carousel-container">
                        <div class="review">
                            <div class="review__content">
                                If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.
                            </div>
                            <div class="review__user">
                                <div class="review__avatar"></div>
                                <div class="review__name">
                                    sam isbister
                                    <span>Mass Impressions</span>
                                </div>
                            </div>
                        </div>
                        <div class="review">
                            <div class="review__content">
                                If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.
                            </div>
                            <div class="review__user">
                                <div class="review__avatar"></div>
                                <div class="review__name">
                                    sam isbister
                                    <span>Mass Impressions</span>
                                </div>
                            </div>
                        </div>
                        <div class="review">
                            <div class="review__content">
                                If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.
                            </div>
                            <div class="review__user">
                                <div class="review__avatar"></div>
                                <div class="review__name">
                                    sam isbister
                                    <span>Mass Impressions</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel__pagination"></div>
                </div>
            </div>
            <div class="img"></div>
            <button class="btn--next">&nbsp;</button>
        </div>
    </section>

    <section class="about">
        <div class="container">
            <div class="img"></div>
            <div class="container">
                <h2 class="heading-secondary">
                    <span class="heading-secondary__title">
                        About MISOCIAL
                    </span>
                    <span class="heading-secondary__content">
                        Who we are?
                    </span>
                </h2>
        
                <p class="paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                </p>

                <p class="paragraph">
                    Labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>

                <p class="paragraph">
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
                </p>
            </div>
            <button class="btn--next">&nbsp;</button>
        </div>
    </section>

    <section class="our-team">
        <div class="container">
            <div class="container">
                <h2 class="heading-secondary">
                    <span class="heading-secondary__title">
                        Our team
                    </span>
                    <span class="heading-secondary__content">
                        Meet the team
                    </span>
                </h2>
        
                <p class="paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                </p>
            </div>
            <div class="container">
                <div class="member">
                    <div class="member__img"></div>
                    <div class="member__name">Harry Williamson</div>
                    <div class="member__role">Art Director</div>
                </div>

                <div class="member">
                    <div class="member__img"></div>
                    <div class="member__name">Lori Fisher</div>
                    <div class="member__role">Art Director</div>
                </div>

                <div class="member">
                    <div class="member__img"></div>
                    <div class="member__name">Jesse Robertson</div>
                    <div class="member__role">Art Director</div>
                </div>

                <div class="member">
                    <div class="member__img"></div>
                    <div class="member__name">Edward Riley</div>
                    <div class="member__role">Art Director</div>
                </div>

                <div class="member">
                    <div class="member__img"></div>
                    <div class="member__name">Oliva Rogers</div>
                    <div class="member__role">Art Director</div>
                </div>

                <div class="member">
                    <div class="member__img"></div>
                    <div class="member__name">Patrick Fox</div>
                    <div class="member__role">Art Director</div>
                </div>

                <div class="member">
                    <div class="member__img"></div>
                    <div class="member__name">Andrew Garrett</div>
                    <div class="member__role">Art Director</div>
                </div>

                <div class="member">
                    <div class="member__img"></div>
                    <div class="member__name">Susan Alvarez</div>
                    <div class="member__role">Art Director</div>
                </div>
            </div>
            <button class="btn--next">&nbsp;</button>
        </div>
    </section>

    <section class="blog">
        <div class="container">
            <div class="container">
                <div class="container">
                    <h2 class="heading-secondary">
                        <span class="heading-secondary__title">
                            What's new?
                        </span>
                        <span class="heading-secondary__content">
                            Recent articles
                        </span>
                    </h2>
            
                    <p class="paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                    </p>
                </div>
                <div class="container">
                    <button class="btn">Read all articles</button>
                </div>
            </div>
            <div class="container">
                <div class="carousel">
                    <div class="carousel__container">
                        <div class="blog-post">
                            <div class="blog-post__img"></div>
                            <div class="blog-post__title">Data is all about the details</div>
                            <div class="blog-post__date">on Mar 21, 2017 9:58 AM</div>
                            <div class="blog-post__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</div>
                            <div class="blog-post__comment">
                                <span class="blog-post__comment-icon"></span>
                                24 comments
                            </div>
                            <div class="blog-post__icon"></div>
                        </div>

                        <div class="blog-post">
                            <div class="blog-post__img"></div>
                            <div class="blog-post__title">Data is all about the details</div>
                            <div class="blog-post__date">on Mar 21, 2017 9:58 AM</div>
                            <div class="blog-post__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</div>
                            <div class="blog-post__comment">
                                <span class="blog-post__comment-icon"></span>
                                24 comments
                            </div>
                            <div class="blog-post__icon"></div>
                        </div>

                        <div class="blog-post">
                            <div class="blog-post__img"></div>
                            <div class="blog-post__title">Data is all about the details</div>
                            <div class="blog-post__date">on Mar 21, 2017 9:58 AM</div>
                            <div class="blog-post__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</div>
                            <div class="blog-post__comment">
                                <span class="blog-post__comment-icon"></span>
                                24 comments
                            </div>
                            <div class="blog-post__icon"></div>
                        </div>

                        <div class="blog-post">
                            <div class="blog-post__img"></div>
                            <div class="blog-post__title">Data is all about the details</div>
                            <div class="blog-post__date">on Mar 21, 2017 9:58 AM</div>
                            <div class="blog-post__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</div>
                            <div class="blog-post__comment">
                                <span class="blog-post__comment-icon"></span>
                                24 comments
                            </div>
                            <div class="blog-post__icon"></div>
                        </div>
                    </div>
                    <div class="carousel__pagination"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="cta">
        <div class="container">
            <div class="container">
                <h2 class="heading-secondary">
                    <span class="heading-secondary__title">
                        Social marketing & analytics
                    </span>
                    <span class="heading-secondary__content">
                        Take control of your data
                    </span>
                </h2>
    
                <button class="btn">Get started</button>
                <button class="btn">Explore features</button>
            </div>
            <div class="img"></div>
        </div>
    </section>

</main>

<footer class="footer">
    <nav class="navbar">
        <div class="navbar__logo">
            <h1 class="heading-primary">
                <span class="logo"></span>
                MISOCIAL
            </h1>
        </div>
        <div class="navbar__nav">
            <ul class="navbar__list">
                <li class="navbar__item">Home</li>
                <li class="navbar__item">Why misocial</li>
                <li class="navbar__item">Features</li>
                <li class="navbar__item">Articles</li>
                <li class="navbar__item">Pricing</li>
            </ul>
        </div>
        <div class="navbar__get-started">Get started</div>
    </nav>

    <div class="copyright">
        <div class="copyright__content">
            © 2017 Mass Impressions & Tranmautritam. Make the right impression.
        </div>
        <div class="copyright__icon">

        </div>
    </div>
</footer>