*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    user-select: none;
}

html, body { //Fix the unknown right space !!!!!!!!important
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

html {
    scroll-behavior: smooth;
    font-size: 10px;  // 1rem = 10px

    @include screen('md') {
        font-size: 9px;     // 1rem = 9px
    }

    @include screen('xs') {
        font-size: 8px;     // 1rem = 8px
    }
}

body {
    box-sizing: border-box;
}

section {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a,
a:active {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

button {
    background: none;
    border: none;
    outline: none;
}


.container {
    width: 100%;
}