@font-face {
    font-family: 'Maven';
    src: url('../fonts/MavenPro-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'Maven';
    font-weight: 500;
    src: url('../fonts/MavenPro-Medium.ttf');
}

@font-face {
    font-family: 'Maven';
    font-weight: 700;
    src: url('../fonts/MavenPro-Bold.ttf');
}

@font-face {
    font-family: 'Maven';
    font-weight: 900;
    src: url('../fonts/MavenPro-Black.ttf');
}