.header {

}

.banner {
    @include bg-img('../img/banner-bg.png', center, cover);
    height: 58.25vw;
    background-color: transparent;

    & > .section__content {
        @include center-y;

        & > .paragraph {
            margin-right: 3rem;
        }
    }

    & > .section__img {
        @include hidden;
    }

    @include screen(md) {
        height: auto;

        & > .section__content {
            @include relative;
            transform: none;        }

        & > .section__img {
            @include box(50%);
            @include display;
        }
    }

    @include screen(md) {
        @include bg-img('../img/earth-bg.png', center, cover);
    }

}

.choose-us {
    background-color: $color-white-light;
    padding-top: 17.5rem;
    padding-bottom: 22.5rem;

    & > .section__content {
        width: 35%;
        z-index: 2;
        transform: translateX(-5rem);
    }

    & > .section__img {
        width: 50%;
        height: 100%;
        transform: scale(2) translateX(5rem);
    }

    @include screen(lg) {
        padding-top: 9rem;
        padding-bottom: 11rem;
    }

    @include screen(md) {
        padding-top: 7rem;
        padding-bottom: 8rem;

        & > .section__img {
            width: 45%;
        }
    }

    @include screen(sm) {
        padding-top: 5rem;
        padding-bottom: 5rem;

        & > .section__content {
            width: 45%;
            transform: translateX(0);
        }

        & > .section__img {
            width: 40%;
            transform: scale(2) translateX(3rem) translateY(-1rem);
        }
    }

    @include portrait(md) {
        & > .section__img {
            transform: scale(2) translateX(4rem) translateY(-1rem);
        }
    }

    @include portrait(xs) {
        padding-bottom: 6.5rem;

        & > .section__content {
            width: 80%;
            transform: translateX(-4rem) translateY(2rem);
        }
    
        & > .section__img {
            width: 80%;
            height: 100%;
            transform: scale(1.5) translateX(6.5rem);
        }
    }

    @include landscape(xs) {
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
}

.features {
    @include gradient($color-start, $color-end, bottom-right);
    padding-top: 8rem;
    padding-bottom: 40rem;
    z-index: 2;

    @include screen(md) {
        padding-top: 7rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    @include screen(sm) {
        padding: 5rem 3rem 30rem 3rem;
    }

    @include portrait(xs) {
        padding-top: 4rem;
        padding-bottom: 23rem;
    }

    @include landscape(md) {
        padding-top: 5.5rem;
        padding-bottom: 33rem;
    }

    @include landscape(sm) {
        padding-top: 4rem;
        padding-bottom: 29rem;
    }

    & > .section__content {
        width: 100%;
    }

    & > .circular {
        bottom: -8.5rem;

        @include screen(md) {
            bottom: -7.5rem
        }

        @include screen(xs) {
            bottom: -6rem;
        }

        @include landscape(md) {
            bottom: -8.5rem;
        }

        @include landscape(sm) {
            bottom: -7.5rem;
        }

        @include landscape(xs) {
            bottom: -7.3rem;
        }
    }
}

.testimonial {
    padding: 18rem 15.5vw 15rem 15.5vw;
    align-items: flex-start;

    & > .section__content {
        width: 40%;
        padding-bottom: 9rem;
    }

    & > .section__img {
        width: 52%;
        height: 35rem;
        align-self: flex-end;
    }

    @include screen(lg) {
        @include flex(column);
        padding-top: 15rem;
        padding-bottom: 12.5rem;

        & > .section__content {
            width: 55%;
            padding-bottom: 4.5rem;
        }

        & > .section__img {
            width: 70%;
        }
    }

    @include screen(md) {
        padding: 12rem 12rem 11rem 12rem;

        & > .section__content {
            width: 65%;
            padding-bottom: 3.5rem;
        }

        & > .section__img {
            width: 80%;
            height: 30rem;
        }
    }

    @include screen(xs) {
        padding: 10rem 3rem 8rem 3rem;
        justify-content: center;
        align-items: center;

        & > .section__content {
            width: 82.5%;
            padding-bottom: 3rem;
        }

        & > .section__img {
            width: 100%;
            height: 26.5rem;
            align-self: unset;
        }
    }

    @include landscape(md) {
        & > .section__img {
            width: 87.5%;
            height: 28rem;
        }
    }

    @include landscape(xs) {
        & > .section__content {
            width: 70%;
            padding-bottom: 3rem;
        }

        & > .section__img {
            width: 85%;
            height: 30rem;
            align-self: center;
        }
    }
}

.about {
    @include bg-img("../img/about-bg.png", right);
    @include flex(row, flex-start);
    padding-left: 0;
    padding-bottom: 10rem;

    & > .section__content {
        @include relative;
        margin-left: 10rem;
        margin-right: 4rem;

        & > .circular {
            left: 0;
            bottom: -13rem;
            transform: none;
        }
    }

    & > .section__img {
        @include box(60%);
    }

    @include screen(lg) {
        padding-top: 7.5rem;

        & > .section__content {
            margin-left: 8rem;

            & > .circular {
                bottom: -11rem;
            }
        }
    }

    @include screen(md) {
        padding-top: 7rem;
        padding-bottom: 6rem;

        & > .section__content {
            margin-left: 5rem;
            margin-right: 2.2rem;

            & > .circular {
                bottom: -3rem;
            }
        }

        & > .section__img {
            @include box(70%);
        }
    }

    @include screen(sm) {
        padding-top: 5.5rem;

        & > .section__content {
            margin-right: 0;
            margin-left: 3.75rem;
        }

        & > .section__img {
            margin-bottom: 1.75rem;
        }
    }

    @include screen(xs) {
        @include flex(column);
        background-position-x: 96%;
        padding: 4.5rem 0 5rem 0;

        & > .section__content {
            position: static;
            width: 90%;
            padding-right: 9rem;

            & > .circular {
                bottom: 2rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        & > .section__img {
            @include box(100%);
            padding-right: 1.25rem;
            margin-bottom: 2rem;
        }
    }

    @include landscape(xs) {
        & > .section__img {
            padding-right: 10rem;            
        }
    }
}

.our-team {

}

.blog {

}

.cta {
    
}

.footer {
    
}