.carousel {
    margin-top: 4.55rem;

    &__content {
        width: 100%;
        height: auto;
    }

    @include screen(lg) {
        margin-top: 3.25rem;
    }

    @include screen(md) {
        margin-top: 2.25rem;
    }

    @include screen(xs) {
        margin-top: 1.8rem;
    }
}