.feature {
    @include flex(row);
    width: 30%;
    margin-top: 5rem;

    &-wrap {
        @include flex(row, space-between);
        flex-wrap: wrap;
        width: 92%;
        height: auto;
        margin: 4rem auto 2rem auto;
        color: $color-white;

        @include screen(lg) {
            width: 98%;
            margin-top: 3rem;
        }

        @include screen(md) {
            padding-left: 6rem;
            padding-right: 6rem; 
        }

        @include screen(sm) {
            @include relative;
            width: 96%;
            height: 60vh;
            overflow-y: scroll;
            margin-top: 5rem;
            padding-left: 0;
            padding-right: 0; 

            & > .feature:first-child {
                margin-top: 0;
            }

            &::-webkit-scrollbar {
                background-color: rgba($color-primary-dark, .5);
                width: 5px;
                border-radius: 5px;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px rgba($color-black, .15);                
                border-radius: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $color-white;
                border-radius: 5px;
            }

            &::-webkit-scrollbar-corner {
                @include box(0);
            }
        }

        @include landscape(sm) {
            width: 75%;
        }

        @include portrait(sm) {
            width: 70%;
        }

        @include portrait(xs) {
            padding-right: 1.75rem;
            width: 96%;
            height: 50vh;
        }
    }

    @include screen(lg) {
        margin-top: 4rem;
    }

    @include screen(md) {
        width: 45%;
    }

    @include screen(sm) {
        justify-content: center;
        width: 100%;
    }

    &__icon {
        @include box(4.5rem);
        @include relative;
        border-radius: 100%;
        background-color: $color-white;

        &-box {
            width: auto;
            height: 100%;
            margin-right: 2rem;
        }
        
        &::after {
            @include bg-img("../img/feature-img.png", center, 35% 35%);
            @include absolute(top 0 right 0);
            @include box(4.5rem);
            content: "";
            border-radius: 100%;
        }
    }

    &__title {
        width: 100%;
        font-size: 2rem;
        margin-bottom: 1.7rem;

        @include screen(md) {
            font-size: 1.7rem;
            margin-bottom: 1rem;
        }
    }

    &__content {
        width: 100%;
        font-size: 1.3rem;
        line-height: 1.8;        

        &-box {
            width: auto;
            height: 100%;
        }

        @include screen(md) {
            font-size: 1.2rem;
            line-height: 1.6;  
        }
    }
}