.slide {
    @include box(100%);
    @include flex(row);

    &__content {
        width: 65%;
        height: 100%;
        background-color: $color-lightblue;
    }

    &__img {
        @include relative;
        width: 35%;
        height: 100%;
        background-color: $color-darkblue;

        &::after {
            @include bg-img("../img/like-circle-icon.png", center, 55%);
            @include box(100%);
            @include absolute(top 0 right 0);
            content: "";
        }
    }
}